@media (min-width: 1600px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1600px !important;
    }
}
@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1400px ;
    }
}

/* Large / Desktop */
@media only screen and (width: 992px) {

}

/* Medium / Tablet */
@media only screen and (max-width: 768px) {
     .container {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .driving_img img {
        width: 100% !important; 
    }
    .hero_title {
        font-size: 34px;
        line-height: 44px;
        font-family: var(--title_font);
        margin-bottom: 20px;
    }
    .white_paper_area { 
        padding: 30px;
        border: 0px solid #fff;
        margin-bottom: 30px;
    }
    .tokenomics_area { 
        padding: 30px;
        border: 0px solid #fff;
        margin-bottom: 30px;
        margin-top: 0px;
    }
    .driving_section .cline { 
        padding: 80px 30px !important;
    }
    
    .papers_token_section .cline:after { 
        bottom: 16px; 
    }


}

/* Small / Mobile */
@media only screen and (maxwidth: 576px) {
     .container {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .driving_img img {
        width: 100% !important; 
    }
    .hero_title {
        font-size: 34px;
        line-height: 44px;
        font-family: var(--title_font);
        margin-bottom: 20px;
    }
    .white_paper_area { 
        padding: 30px;
        border: 0px solid #fff;
        margin-bottom: 30px;
    }
    .tokenomics_area { 
        padding: 30px;
        border: 0px solid #fff;
        margin-bottom: 30px;
        margin-top: 0px;
    }
    .driving_section .cline { 
        padding: 80px 30px !important;
    }
    
    .papers_token_section .cline:after { 
        bottom: 16px; 
    }

}

@media only screen and (max-width: 375px) and (max-height: 667px) {
     .container {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .driving_img img {
        width: 100% !important; 
    }
    .hero_title {
        font-size: 34px;
        line-height: 44px;
        font-family: var(--title_font);
        margin-bottom: 20px;
    }
    .big_text_number span { 
        font-size: 30px;
        line-height: 50px; 
        word-break: break-all;
    }
    .white_paper_area { 
        padding: 30px;
        border: 0px solid #fff;
        margin-bottom: 30px;
    }
    .tokenomics_area { 
        padding: 30px;
        border: 0px solid #fff;
        margin-bottom: 30px;
        margin-top: 0px;
    }
    
    .driving_section .cline { 
        padding: 80px 30px !important;
    }
    .papers_token_section .cline:after { 
        bottom: 16px; 
    }
  
}




