:root {
  --text_white: #ffffff;
  --text_dark: #112E50;
  --dark_color: #171717;
  --primary_color: #0CC0DF;
  --paragraph_color: #515A73; 
  --title_font: "TASA Orbiter", sans-serif;
  --paragraph_font: "Inter", sans-serif;
  --text_gray: rgb(255 255 255 / 45%);
  --transition: all 0.4s ease-in-out;
}
 

body { 
  font-family: var(--paragraph_font);
  color: var(--paragraph_color);
  background: var(--text_white);
  font-size: 14px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
a:hover {
    color: var(--primary_color);
    text-decoration: none;

}
ul{
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}

p {
    color: var(--text_white);
    margin-bottom: 10px;
}
p:last-child {

    margin-bottom: 0;

}
h1, h2, h3, h4, h5, h6 {

    margin: 0;
    font-weight: 700;
    font-family: var(--title_font);
    color: var(--text_white);

}
button:focus {
    outline: 0;
}
img { 
    width: 100%;
    height: 100%;
}

.mt-6{
    margin-top: 60px !important;
}
.mt-7{
    margin-top: 70px !important;
}
.mt-8{
    margin-top: 80px !important;
}
.mt-9{
    margin-top: 90px !important;
}
.mb-6{
    margin-bottom: 60px !important;
}
.mb-7{
    margin-bottom: 70px !important;
}
.mb-8{
    margin-bottom: 80px !important;
}
.mb-9{
    margin-bottom: 90px !important;
}
.section_padding_120{
    padding-top: 120px !important;
    padding-bottom: 120px !important;
}
.section_padding_150{
    padding-top: 150px !important;
    padding-bottom: 150px !important;
}
.section_padding_180{
    padding-top: 180px !important;
    padding-bottom: 180px !important;
}
.section_padding_200{
    padding-top: 200px !important;
    padding-bottom: 200px !important;
}
.section_padding{
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}
.section_padding_top{
    padding-top: 100px !important; 
}
.section_padding_bottom{ 
    padding-bottom: 100px !important;
}

@keyframes top_bottom_bounce {
  0% {
    transform: translate(0px, 0px) rotate(0deg) scale(1);
  }
  50% {
    transform: translate(0px, 10px) rotate(0deg) scale(1);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg) scale(1);
  }
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}
@keyframes rotate_shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  75% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


@keyframes live_blink {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.4;
    transform: scale(1.3);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


.container {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.cline {
    border-left: 1px solid rgb(255 255 255 / 15%);
    border-right: 1px solid rgb(255 255 255 / 15%);
    padding-left: 70px !important;
    padding-right: 70px !important;
}
.cline_white {
    border-left: 1px solid #dce0e5;
    border-right: 1px solid #dce0e5; 
}
.btn-primary {
  background: var(--primary_color);
  color: var(--text_white);
  height: 52px;
  width: 140px;
  border: none !important;
  border-radius: 0 !important;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  line-height: 52px;
  font-weight: 600;
  display: inline-block;
  transition: var(--transition);
}
.btn-primary:hover {
  background: #129fb8;
  color: var(--text_white); 
  transition: var(--transition);
}
.top_nav_button {
  background: var(--primary_color);
  color: var(--text_white);
  height: 44px;
  width: 120px;
  border: none !important;
  border-radius: 0 !important;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  line-height: 44px;
  font-weight: 600;
  display: inline-block;
  transition: var(--transition);
}
.top_nav_button:hover {
  background: #129fb8;
  color: var(--text_white); 
  transition: var(--transition);
}
.top_nav li a {
    font-weight: 500;
    color: var(--dark_color) !important;
    font-size: 16px !important;
    margin-left: 15px;
    margin-right: 15px;
}
.top_nav li a:hover {
  color: var(--primary_color) !important;
}
.top_nav {

  margin-left: 50px;
}
.top_header .navbar {
    background: #fff!important;
    border-bottom: 1px solid #cfd4dc !important;
}

/*hero section*/
.hero_section {
  /* background: linear-gradient(336deg, #0C294B 44%, #0cc0df 100%);
  background: -webkit-linear-gradient(336deg, #0C294B 44%, #0cc0df 100%);
  background: -moz-linear-gradient(336deg, #0C294B 44%, #0cc0df 100%);
  background: -o-linear-gradient(336deg, #0C294B 44%, #0cc0df 100%); */
  
  position: relative; 
  background: url("../../public/images/hero_bg.jpg");
    background-size: cover;

  
}
.hero_section .cline{
    height: 750px;
}
.hero_image .ucbi_coin {
    mix-blend-mode: luminosity;
    width: 500px;
    height: 500px;
    animation: 4s linear infinite top_bottom_bounce;
    position: absolute;
    bottom: 8%;
    right: 10%;
}
.hero_image .eth_coin {
    mix-blend-mode: luminosity;
    width: 260px;
    height: 260px;
    animation: 6s linear infinite top_bottom_bounce;
    position: absolute;
    bottom: 15%;
    right: 30%;
}
.hero_image .btc_coin {
    width: 240px;
    height: 240px;
    animation: 8s linear infinite top_bottom_bounce;
    position: absolute;
    top: 20%;
}
.hero_content {
    margin-top: 115px;
}
.hero_title {
    font-size: 45px;
    line-height: 55px;
    font-family: var(--title_font); 
    font-weight: 500;
}
.hero_paragraph {
    font-size: 15px;
    font-family: var(--paragraph_font);
    color: rgba(255, 255, 255, 0.6);
    margin-top: 10px;
    margin-bottom: 15px;
}

/*partners section*/
.partner_section .cline {
    border-right: 1px solid rgb(17 46 80 / 15%) !important;
    border-left: 1px solid rgb(17 46 80 / 15%) !important;
    padding:60px 0 !important;
}
.partner_img img {
    width: auto;
    height: auto;
    margin-right: 40px;
    margin-left: 40px;
}

/*driving section*/
.driving_section {
    background: #f0f1f5;
}
.driving_section .cline {
    background: #F0F1F5;
    padding: 100px 70px !important;
    border-right: 1px solid rgb(17 46 80 / 15%) !important;
    border-left: 1px solid rgb(17 46 80 / 15%) !important;
}
.counter_area_setion {
    background: #f0f1f5;
    border-top: 1px solid #cfd4dc;
}

.driving_img img {
    height: auto;
    width: 550px;
}
.section_title_dark {
    color: var(--text_dark);
    font-size: 30px;
    line-height: 38px;
    font-family: var(--title_font);
    margin-bottom: 40px;
    font-weight: 500;
    letter-spacing: -1px;
}
.section_paragraph_dark { 
    color: var(--paragraph_color);
    line-height: 24px;
    margin-bottom: 30px;
    font-family: var(--paragraph_font);
    text-align: justify;
}
.big_text_number span {
    text-align: center;
    color: #112E50;
    letter-spacing: -1px;
    word-break: break-all;
    font-family: tasaOrbiter;
    font-size: 40px;
    line-height: 40px;
    display: block;
    font-weight: 600; 
}
.big_text_number {
    /* background: red; */
    padding-bottom: 80px;
    padding-top: 80px;
}
.line_right{ 
    border-right: 1px solid #ddd;
}
.big_text_number p {
    color: #112E50; 
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}
/** PapersToken Section Styles */
.papers_token_section { 
    position: relative;
}
.left_100{
    position: relative;
}
.left_100:before {
    content: "";
    position: absolute;
    left: 0;
    top: -100px;
    height: 100px;
    width: 1px;
    background: #cfd4dc;
}
.left_100:after {
    content: "";
    position: absolute;
    right: 0;
    top: -100px;
    height: 100px;
    width: 1px;
    background: #cfd4dc;
}
.papers_token_section .clinee {
    background: url("../../public/images/paper_bg.jpg") no-repeat;
    margin-top: 100px;
    position: relative; 
    background-size: cover;
    height: 414px;
    margin-bottom: 100px;
    overflow: hidden;
}
 
 
.white_paper_area { 
    padding: 70px 160px 70px 70px ; 
    margin-bottom: 100px; 
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background: rgb(17 46 80 / 90%);
}
 .white_paper_area:before {
    content: "";
    background: white;
    height: 100%;
    width: 30px;
    right: 0px;
    top: 0;
    position: absolute;
}
 .white_paper_area:after {
    content: "";
    height: 614px;
    left: 0px;
    width: 1px;
    background: #dadee5;
    position: absolute;
    top: -100px;
}
.extra_line_whtiepaper_left{
    position: relative;
}
.extra_line_whtiepaper_left:before {
    content: "";
    position: absolute;
    left: 0;
    height: 100px;
    width: 1px;
    background: #cfd4dc;
    bottom: -100px;
}
.extra_line_whtiepaper_right{
    position: relative;
}
.extra_line_whtiepaper_right:before {
    content: "";
    position: absolute;
    right: -2px;
    height: 100px;
    width: 1px;
    background: #cfd4dc;
    bottom: -100px;
}
.tokenomics_area { 
    padding: 70px 130px 70px 70px ;  
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background: rgb(240 241 245 / 90%);
}
 .tokenomics_area:before {
    content: "";
    background: white;
    height: 100%;
    width: 30px;
    left: -30px;
    top: 0;
    position: absolute;
}
.tokenomics_area:after {
    content: "";
    height: 614px;
    right: -1px;
    width: 1px;
    background: #dadee5;
    position: absolute;
    top: -100px;
}
.section_title_white {
    color: var(--text_white);
    font-size: 30px;
    line-height: 38px;
    font-family: var(--title_font);
    letter-spacing: -1px;
    margin-bottom: 40px;
    font-weight: 500;
}
.section_paragraph_white {
    color: var(--text_gray);
    font-size: 13px;
    line-height: 24px;
    font-family: var(--paragraph_font);
    margin-bottom: 30px;
    text-align: justify;
}
/*Journey section*/
.ourjourney_section{
    background: url("../../public/images/journey_bg.jpg"); 
}
.ourjourney_section .cline { 
    padding: 100px 70px;
}
.timeline_one{
    margin-top: 200px;
    position: relative;
}
.timeline_one:before {
    content: "";
    position: absolute;
    left: 0;
    top: -128px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--primary_color);
}
.timeline_one:after {
    content: "";
    position: absolute;
    left: 9px;
    top: -115px;
    height: 61px;
    width: 1px;
    background: rgb(255 255 255 / 20%);
}
.timeline_two{
    margin-top: 150px;
    position: relative;
}
.timeline_two:before {
    content: "";
    position: absolute;
    left: 0;
    top: -89px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--primary_color);
}
.timeline_two:after {
    content: "";
    background: #fff3;
    width: 1px;
    height: 42px;
    position: absolute;
    top: -72px;
    left: 9px;
}
.timeline_three{
    margin-top: 100px;
    position: relative;
}
.timeline_three:before {
    content: "";
    position: absolute;
    left: 0;
    top: -104px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--primary_color);
}
.timeline_three:after {
    content: "";
    background: #fff3;
    width: 1px;
    height: 52px;
    position: absolute;
    top: -90px;
    left: 10px;
}
.timeline_four{
    position: relative;
}
.timeline_four:before {
    content: "";
    position: absolute;
    left: 0;
    top: -136px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--primary_color);
}
.timeline_four:after {
    content: "";
    background: #fff3;
    width: 1px;
    height: 61px;
    position: absolute;
    top: -120px;
    left: 9px;
}
.timeline_item h4 {
    font-size: 24px;
    line-height: 34px;
} 
.timeline_item p {
    font-size: 14px;
    line-height: 24px;
    font-family: var(--paragraph_font);
    color: var(--text_gray);
}
.timeline_area{
    position: relative;
}
.timeline_area img {
    width: auto;
    height: auto;
}
.line_img {
    position: absolute;
    top: -250px;
    left: 0;
}
/*advancin section*/
.advancing_section .cline {
    padding-top: 200px;
    padding-bottom: 80px;
}
.advancing_para p {
    font-size: 13px;
    color: var(--paragraph_color);
    margin-bottom: 30px;
    text-align: justify;
}
.advancing_para h5 {
    color: var(--text_dark);
    font-family: var(--title_font);
    font-size: 18px;
    margin-bottom: 20px;
}
.advancing_para {
    border-bottom: 1px solid #dce0e5;
    margin-bottom: 30px;
}
.advancing_para:last-child {
    border-bottom: 1px solid transparent;
}
.advancing_section {
    border-bottom: 1px solid #dce0e5;
    border-top: 1px solid #dce0e5;
    position: relative;
}
.advancing_section:before {
    content: "";
    position: absolute;
    top: 100px;
    left: 0;
    height: 1px;
    width: 100%;
    background: #dce0ef;
}
/*contract Investment*/
.contract_in{
    padding: 70px;
}
.cont_bg {
    background: url(../../public/images/invest_bg.jpg);
    background-size: cover;
    position: relative;
    z-index: 1;
}
 
.cont_bg:before {
    content: "";
    z-index: -1;
    background: url("../../public/images/private_mask.png");
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: top right;
}
.token_item {
    display: flex;
    align-items: center;
}
.main_coin img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.main_coin span {
    color: #fff;
    font-size: 13px;
    font-weight: 600;
}
.token_item .price_t {
    margin-left: 30px;
    color: #0CC0DF;
    font-size: 13px;
}
.token_item {
    background: #133459;
    border: 1px solid rgb(255 255 255 / 15%);
    border-radius: 30px;
    align-items: center;
    width: 260px;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}
.token_info p {
    margin-left: 70px;
    margin-bottom: 30px;
}
.token_info {
    padding-bottom: 40px;
}
/*goal and effort*/
.goal_sectio .cline {
    border-left: 1px solid #112e5026 !important;
    border-right: 1px solid #112e5026 !important;
    padding: 100px 0 !important;
}
.featured_o .fe_link img {
    width: 74px !important;
    margin-right: 24px; 
}
.featured_o p {
    color: var(--dark_color);
    font-size: 14px;
    margin-bottom: 20px;
}
.bg_bb {
    background: #F0F1F5;
    padding: 68px;
}
.divider_lin {
    height: 1px;
    width: 80%;
    background: #dce0e5;
    margin-bottom: 54px;
    margin-top: 50px;
}
.goal_content p {
    width: 80%;
}
/*blog section*/
.blog_section { 
    position: relative;
}
.blog_section:before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    height: 1px;
    width: 100%;
    background: #dce0e5;
}
.blog_section:after {
    content: "";
    position: absolute;
    bottom: 44px;
    left: 0;
    height: 1px;
    width: 100%;
    background: #dce0e5;
}

.blog_section .cline {
    border-left: 1px solid #dce0e5;
    border-right: 1px solid #dce0e5;
    padding: 100px 70px;
}
.blog_content h4 {
    color: var(--text_dark);
    font-size: 18px;
    margin-top: 27px;
    font-family: var(--title_font);
    line-height: 28px;
    margin-bottom: 20px;
}
.blog_content p {
    color: var(--paragraph_color);
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 30px;
    text-align: justify;
    width: 90%;
}
.blog_content a img {
    width: 14px;
    margin-left: 10px;
}

.blog_content a {
    font-size: 13px;
    display: inline;
}
.blog_img {
    position: relative;
}
.blog_date {
    position: absolute;
    bottom: 30px;
    left: 20px;
    font-size: 13px;
}
.blog_date {
    position: absolute;
    bottom: 30px;
    left: 20px;
    font-size: 13px;
    font-family: var(--paragraph_font);
}
.blog_date span {
    color: #112E50;
    background: #fff;
    padding: 5px 8px;
}
/*scaleable section*/
.scaleable_section{
    background: url("../../public/images/scaleable_bg.jpg");
    background-size: cover;
}
.scaleable_section .cline {  
    padding: 150px 70px;
}
/*footer section*/
.footer_info img {
    width: 120px;
}
.footer_section .cline {
    border-left: 1px solid #dce0e5;
    border-right: 1px solid #dce0e5;
    padding-left: 70px !important;
    padding-right: 70px !important;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer_info p {
    font-size: 14px;
    color: var(--text_dark);
    font-family: var(--paragraph_font);
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 30px;
}
.footer_nav_menus h6 {
    font-size: 18px;
    color:var(--text_dark);
    font-family: var(--title_font);
    font-weight: 600; 
    margin-bottom: 50px;
}
.footer_navs ul li a {
    font-size: 14px;
    font-family: var(--paragraph_font);
    line-height: 37px;
    color: var(--text_dark); 
}
.cc_terms ul li a:hover {
    color: #0cc0df;
}
.footer_navs ul li a:hover {
    color: var(--primary_color);
}
.social ul li a img {
    width: 22px !important;
    height: 22px !important;
    transition: var(--transition);
}
.social ul li a img:hover {
    transform: scale(1.2);
    transition: var(--transition);
}
 
.footer_elements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 70px;
    margin-right: 70px;
}
.social ul li {
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
}
.bottom_footer {
    background: var(--text_dark);
    padding: 20px 0;
}
.cc_terms ul li {
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
}
.cc_terms ul li a {
    font-size: 13px;
    color: var(--text_white);
}
.copyright p {
    font-size: 13px;
    font-family: var(--paragraph_font);
}
.cc_web img {
    margin-right: 10px;
    width: 15px;
}
.cc_web {
    display: flex;
    margin-top: 70px; 
    align-items: center;
}
.footer_subscriber .input-group span img {
    width: 20px;
}
.send_btn img {
    width: 13px;
}
.send_btn {
    background: var(--primary_color);
    width: 60px;
    height: 40px;
    border: none !important;
    text-align: center;
    display: inline-block;
}
.footer_subscriber .input-group input { 
    font-size: 13px;
    outline: none;
}
.footer_section {
    position: relative;
    z-index: 1;
}
.footer_section:before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 60%;
    background: #f0f1f5;
    z-index: -1;
}
label.form-check-label {
    font-size: 13px;
}

.line_top{ 
    border-top: 1px solid #112e5026 !important;
}
.line_bottom{ 
    border-bottom: 1px solid #112e5026 !important;
}
.line_left{ 
    border-left: 1px solid #112e5026 !important;
}
.line_right{ 
    border-right: 1px solid #112e5026 !important;
}
.divider_lin.ggl {
    margin-top: 100px !important;
    background: rgb(255 255 255 / 14%) !important;
}
/*swiper blog css*/
.swiper_blog .swiper-wrapper {
    margin-bottom: 70px;
}
.swiper_blog{
    position: relative;
}
 
 .swiper_nav_btn .prev-btn {
    background: #0cc0df;
    height: 30px;
    width: 30px;
    border: none !important;
    color: #fff;
    margin-right: 5px;
    transition: var(--transition); 
}
 .swiper_nav_btn .prev-btn:hover {
    background: var(--dark_color);
    transition: var(--transition);  
}
.swiper_nav_btn .next-btn {
    background: #0cc0df;
    height: 30px;
    width: 30px;
    border: none !important;
    color: #fff;
    margin-left: 5px;
    transition: var(--transition); 
}
.swiper_nav_btn .next-btn:hover {
    background: var(--dark_color);
    transition: var(--transition); 
}