:root {
  --text_white: #ffffff;
  --text_dark: #112E50;
  --dark_color: #171717;
  --primary_color: #0CC0DF;
  --paragraph_color: #515A73; 
  --title_font: "TASA Orbiter", sans-serif;
  --paragraph_font: "Inter", sans-serif;
  --background_gray: #F0F1F5;
  --transition: all 0.4s ease-in-out;
}
 

body { 
  font-family: var(--paragraph_font);
  color: var(--paragraph_color);
  background-color: var(--text_white);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
@media (min-width: 1600px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1600px !important;
    }
}
@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1400px ;
    }
}
.btn-primary {
  background-color: var(--primary_color);
  color: var(--text_white);
  height: 52px;
  width: 140px;
  border: none !important;
  border-radius: 0 !important;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  line-height: 40px;
  font-weight: 600;
  display: inline-block;
  transition: var(--transition);
}
.btn-primary:hover {
  background-color: var(--dark_color);
  color: var(--text_white); 
  transition: var(--transition);
}
.top_nav_button {
  background-color: var(--primary_color);
  color: var(--text_white);
  height: 44px;
  width: 120px;
  border: none !important;
  border-radius: 0 !important;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  line-height: 40px;
  font-weight: 600;
  display: inline-block;
  transition: var(--transition);
}
.top_nav_button:hover {
  background-color: var(--dark_color);
  color: var(--text_white); 
  transition: var(--transition);
}
.top_nav li a {
    font-size: 16px !important;
    font-weight: 500;
    color: var(--dark_color) !important;
}
.top_nav {
    margin-left: 50px;
}